*.aux
*.auxlock
*.bbl
*.bcf
*.blg
*.fdb
*.fdb_latexmk
*.fls
*.glo
*.hd
*.idx
*.log
*.out
*.run.xml
*.sta
*.synctex*
*.toc
*.tps
*.xmpi
.texpadtmp
.DS_Store
assets/diagrams/*.sty
assets/diagrams/*.pdf
